.alertSuccess {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resultContainer {
  display: flex;
  align-items: center;

  width: 80%;

  border-style: solid;
  border-width: var(--bs-card-border-width, var(--bs-border-width-2));
  border-color: var(--bs-card-border-color, var(--bs-border-color));
  border-radius: var(--bs-card-border-radius, var(--bs-border-radius));
  box-shadow: var(--bs-box-shadow-sm);
}

.thoughtTextArea {
  flex-grow: 1;
  height: 200px;
}
